body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

input {
    width: 300px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin-top: 10px;
}
